@tailwind base;
@tailwind components;
@tailwind utilities;


.underline-hover {
  position: relative;
}


.underline-hover::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 2px;
    background-color: currentColor;
    transition: width 0.3s ease;
  }
  
  .underline-hover:hover::after {
    width: 100%;
  }
  @keyframes scrollRight {
    0% {
      transform: translateX(-50%);
    }
    100% {
      transform: translateX(0%);
    }
  }
  
  .marquee-right {
    animation: scrollRight 15s linear infinite;
  }
  